.stalinist-one-regular {
    font-family: "Stalinist One", serif;
    font-weight: 400;
    font-style: normal;
}

.sofia-sans-semi-condensed {
    font-family: "Sofia Sans Semi Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.prosto-one-regular {
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
}