@using Compilyactor.Pages.Core

<div class="bar-container">
    <IconButton Color="#FF0066"
                IconName="@PickRandomLink()"
                IconType="png"
                OnClick="@Temp"
                Size="32px">
    </IconButton>
</div>

@code {
    private readonly List<string> _iconsEtalone = new List<string>
    {
        "Telegram Logo",
        "GitHub Logo",
        "Instagram Logo",
        "Slack Logo"
    };

    private List<string> _icons = new List<string>
    {
    };

    private Random _random = new Random();

    public string PickRandomLink()
    {
        if (_icons.Count == 0)
            _icons = new List<string>(_iconsEtalone);

        int length = _icons.Count;
        int i = _random.Next(length);
        string value = _icons[i];
        _icons.RemoveAt(i);
        return value;
    }

    private void Temp()
    {

    }
}
