:root {
    --true-white: #ffffff;
    --errant-white: #f8f8ff;
    --traffic-black: #12121e;
    --signal-white: #f0f0f8;
    --deep-purple: #330066;
}

body {
}

.bar-container {
    height: 64px;
    width: 100vw;
    display: flex;
    flex: 1 1 0;
    padding: 8px;
    color: var(--traffic-black);
    background-color: #f8f8ff;
}
