@using Compilyactor.Pages.General

@code {
    [Parameter]
    public string Width { get; set; } = "100%";
}

<div class="navigation-global-container" style="width: @Width;">
    <DetailedButton 
        NavigateTo="/test-page" 
        Icon="DetailedButton.IconType.Hexagon"
        Title="ЗКИ"
        SplashCategory="PCI"/>
    <DetailedButton 
        NavigateTo="/test-page" 
        Icon="DetailedButton.IconType.Star"
        Title="ПССиП"/>
    <DetailedButton 
        NavigateTo="/test-page" 
        Icon="DetailedButton.IconType.Square"
        Title="КПиЯП"/>
    <DetailedButton 
        NavigateTo="/test-page" 
        Icon="DetailedButton.IconType.Infinity"
        Title="ТПО"/>
</div>

@code {
    private Random _random = new Random();

    public string GetRandomStyle()
    {
        return $"element-style-{_random.Next(1,4)}";
    }

    public string GetRandomWidth()
    {
        bool isWidth = _random.Next(2) == 0;
        string width = isWidth ? "regular" : "wide";
        return width;
    }

}
