@page "/"
@using Compilyactor.Pages.General

@inherits LayoutComponentBase

<link href="~/css/core-styles/fonts.css" rel="stylesheet" />

<main class="page-container">
    <div id="navigator-container">
        <Navigator Width="256px"></Navigator>
    </div>
    <div id="main-container">
        <h1>Hello, world!</h1>
        <p>Lorem ipsum</p>
    </div>
</main>
