@page "/test-page"
@using Compilyactor.Pages.General

<main class="page-container">
    <div id="navigator-container">
        <Navigator Width="256px"></Navigator>
    </div>
    <div id="main-container">
        <h1>Test-page</h1>
        <p>Lorem ipsum</p>
    </div>
</main>

@code {

}
